.odd{
    background-color: rgb(255, 168, 181);
    font-family: Verdana,'DejaVu sans', sans-serif;
}

#N2{
    color: rgb(0, 32, 214);
    font-size: 36px;
}

.same-size{
    font-size: 24px;
}

#N4{
    background-color: rgb(155, 233, 155);
    font-weight: bold;
}